<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css"
          href="../static/css/menu.css" th:href="@{/css/menu.css}" />
</head>
<body>
<div class="dropdown">
    <button class="dropbtn">Каталоги</button>
    <div class="dropdown-content">
        <a href="/kladr">kladr</a>
        <a href="/docs">docs</a>
        <a href="/oiv">oiv</a>
    </div>
</div>
<form method="POST" enctype="multipart/form-data" action="/kladrAdd">
    Файл для загрузки: <input type="file" name="file"> <input type="submit" value="Загрузить!">
</form>
<table border="1">
    <tr>
        <th>Код</th>
        <th>Наименование документа</th>
        <th>Ответственный ОИВ</th>
        <th>XSD схема входных параметров</th>
        <th>Статус</th>
        <th>Примечание</th>
        <th>Электронный документа</th>
        <th>Бумажный документ</th>
        <th>Состояние подписи</th>
        <th>Адрес web сервиса</th>
    </tr>
    <tr th:each="docs:${docsCat}">
        <td th:utext="${docs.id}">...</td>
        <td th:utext="${docs.name}">...</td>
        <td th:utext="${docs.oiv}">...</td>
        <td th:utext="${docs.xsdSchemas}">...</td>
        <td th:utext="${docs.statusOpen}">...</td>
        <td th:utext="${docs.note}">...</td>
        <td th:utext="${docs.elecDoc}">...</td>
        <td th:utext="${docs.realDoc}">...</td>
        <td th:utext="${docs.statusSign}">...</td>
        <td th:utext="${docs.webServices}">...</td>
    </tr>
</table>
</body>
</html>