<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css"
          href="../static/css/menu.css" th:href="@{/css/menu.css}"/>
</head>
<body>
<div class="dropdown">
    <button class="dropbtn">Каталоги</button>
    <div class="dropdown-content">
        <a href="/docs">docs</a>
        <a href="/oiv">oiv</a>
    </div>
</div>
<table>
    <tr>
        <form method="POST" enctype="multipart/form-data" action="/kladrAdd">
            Файл для загрузки: <input type="file" name="file"> <input type="submit" value="Загрузить!">
        </form>
    </tr>
    <tr th:each="uploadF:${uploadFile}">
        <td th:utext="${uploadF}">...</td>
    </tr>
</table>
<table border="1">
    <tr>
        <th>Наименование объекта</th>
        <th>Сокращённое наименование типа объекта</th>
        <th>Код</th>
        <th>Почтовый индекс</th>
        <th>Код ИФНС</th>
        <th>Код территориального участка ИФНС</th>
        <th>Код ОКАТО</th>
        <th>Статус объекта</th>
        <th>Состояние подписи</th>
    </tr>
    <tr th:each="kladr:${kladrCat}">
        <td th:utext="${kladr.bigName}">...</td>
        <td th:utext="${kladr.smallName}">...</td>
        <td th:utext="${kladr.code}">...</td>
        <td th:utext="${kladr.postCode}">...</td>
        <td th:utext="${kladr.codeIFNS}">...</td>
        <td th:utext="${kladr.codeTerIFNS}">...</td>
        <td th:utext="${kladr.codeOKATO}">...</td>
        <td th:utext="${kladr.status}">...</td>
        <td th:utext="${kladr.statusSign}">...</td>
    </tr>
</table>
</body>
</html>